/* Utilities */
.text-center { text-align: center; }
.text-left { text-align: left; }
.text-right { text-align: right; }

/* Header */
#logo { margin-top: 1rem; }

/* Listings */
.listing { display: grid; grid-template-columns: repeat(auto-fit, minmax(var(--min-column-size), 1fr)); gap: 1rem; padding: 0; margin: 1rem 0; list-style: none; --min-column-size: 9rem; }
.listing > * { margin: 0; }
.listing h3 { margin: 1rem 0; font-size: 1.5rem; }
/* Listings: articles */
.listing.news { --min-column-size: 24ch; }
.listing article { outline: 0px solid; position: relative; transition: outline .1s ease-in-out; }
.listing article:hover, 
.listing article:focus-within { outline: 4px solid #0d47a1; }
.listing article img { width: 100%; aspect-ratio: 16/9; object-fit: cover; }
.listing article a::before { content: ' '; position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
/* Listings: members */
.listing.members { gap: 3rem; }
.listing.members img { width: 100%; margin-bottom: .5rem; }
.listing.members .name { font-weight: 700; }
.listing.members .role { font-size: 1rem; line-height: 1.25; color: #888; }